html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

#container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.head {
    text-align: center;
    font-size: 5rem;
}

.text {
    text-align: center;
}